body{
    font-family: 'Silkscreen', Arial, Helvetica, sans-serif;
    background-color: black;
    color: rgb(1, 255, 255);
}

.container{
    position: absolute;
    top: 30%;
    left: 12%;
    width: 80%;
    margin:  auto;
    height: 200px;
}

h1{
    float: left;
    margin: 20px;
    font-size: 80px;
    text-align: center;
    text-shadow: 10px 10px 10px rgba(1, 255, 255, 0.452), 10px 10px  25px rgba(1, 255, 255, 0.452), 10px 10px 10px rgba(1, 255, 255, 0.452);
}

.title{
    margin-top: 40px;
    color: white;
    font-size: 35px;
    text-align: center;
}

audio{
    color: aliceblue;
}