body{
    background-color: antiquewhite;
}

.background-box{
    margin-top: 30px;
    width: 50%;
    margin: auto;
    background-color: red;
    height: 60vh;
}

.switchers-container{
    width: 50%;
    margin-top: 20px;
    height: 200px;
    margin: auto;
}

.switch{
    align-items: center;
    width: 14%;
    cursor: pointer;
    background-color: red;
    height: 75px;
    float: right;
    margin: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

