html{
    font-size: 25px;
    font-family: 'Space Mono', Arial, Helvetica, sans-serif;
}

h1{
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}

.wrapper{
    overflow-x: hidden;
    position: absolute;
    top: 20%;
    left: 25%;
    margin-top: 500px;
    margin: auto;
    width: 50%;
    height: 350px;
    background-color: rgba(87, 75, 75, 0.29);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

input{
    font-size: 15px;
    font-weight: 700;
    font-family: inherit;
    width: 40%;
    height: 30px;
    margin-left: 50px;
    border-radius: 5px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button{
    font-family: inherit;
    width: 15%;
    font-size: 15px;
    font-weight: 700;
    height: 35px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.input-div{
    position: absolute;
    top: 40%;
    left: 14%;
    width: 100%;
}

/* media queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper{
        width: 90%;
        left: 5%;
        top: 15%;
        height: 300px;
    }

    .input-div{
        left: 5%;
    }

    h1{
        font-size: 18px;
        width: 100%;
        text-align: center;
    }

    button{
        width: 25%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .wrapper{
        width: 90%;
        left: 5%;
        height: 300px;
        top: 15%;
    }
}



