:root{
    /* Colors */

    /* Primary */

    /* Text */

    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);

    /* Gradient */

    /* Background gradient: */

    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);

    /* Neutral */

    /* Text */

    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);

    /* Dividers */

    --Light-grayish-blue: hsl(240, 5%, 91%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    font-size: 16px;
    color: var(--Light-grayish-blue);
    background-color: var(--Very-dark-grayish-blue);
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
}

.row{
    margin: 0 auto;
}

h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: double;
    -moz-text-decoration-style: double;
    text-decoration-color: var(--Soft-blue);
    -moz-text-decoration-color: var(--Soft-blue);
}

main{
    
}

.registration-container{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

form input{
    /* position: relative; */
    font-size: 15px;
    font-family: inherit;
    width: 100%;
    padding: 7px;
    color: var(--Soft-blue);
    padding-left: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

form input:focus{
    border: none;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}



.form-control{
    position: relative;
}

.fa-solid{
    color: var(--Soft-blue);
    left: 16%;
}

.fa-user{
    position: absolute;
    top: 30%;
}
.fa-envelope{
    position: absolute;
    top: 42%;
}
.fa-phone{
    position: absolute;
    top: 54%;
}
.lock0{
    position: absolute;
    top: 66%;
}
.lock1{
    position: absolute;
    top: 78%;
}


.form-group{
    margin-top: 10px;
    display: block;
}

form{
    display: block;
}

.form-background{
    width: 100%;
    height: 300px;
    background-image: url(./undraw_investor_update_re_qnuu.svg);
    background-repeat: no-repeat;
    background-size:cover;
}


button{
    width: 50%;
    padding: 5px;
    font-family: inherit;
    font-size: 17px;
    font-weight: 700;
    margin: 20px 110px;
    color: var(--Light-grayish-blue);
    border: none;
    background-color: var(--Dark-grayish-blue);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.mobile{
    display: none;
}


/* grid */
/*  SECTIONS  ============================================================================= */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  GROUPING  ============================================================================= */

.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col { 
        /*margin: 1% 0 1% 0%;*/
        margin: 0;
    }
}


/*  GRID OF TWO   ============================================================================= */


.span-2-of-2 {
    width: 100%;
}

.span-1-of-2 {
    width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .span-2-of-2 {
        width: 100%; 
    }
    .span-1-of-2 {
        width: 100%; 
    }
}










/* mobile design */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* .registration-container{
        width: 90%;
    }



    .fa-solid{
        color: var(--Soft-blue);
        left: 7%;
    }

    .fa-user{
        position: absolute;
        top: 83%;
    }
    .fa-envelope{
        position: absolute;
        top: 100%;
    }
    .fa-phone{
        position: absolute;
        top: 118%;
    }
    .lock0{
        position: absolute;
        top: 135%;
    }
    .lock1{
        position: absolute;
        top: 152%;
    }

    h1{
        font-size: 30px;
    }


    button{
        width: 80%;
        margin: 20px 30px;
    }


    .form-background{
        display: none;
    }

    .mobile{
        display: block;
        width: 50%;
        margin: auto;
        margin-top: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .registration-container{
        width: 90%;
    }



    .fa-solid{
        color: var(--Soft-blue);
        left: 7%;
    }

    .fa-user{
        position: absolute;
        top: 83%;
    }
    .fa-envelope{
        position: absolute;
        top: 100%;
    }
    .fa-phone{
        position: absolute;
        top: 118%;
    }
    .lock0{
        position: absolute;
        top: 135%;
    }
    .lock1{
        position: absolute;
        top: 152%;
    }

    h1{
        font-size: 30px;
    }


    button{
        width: 80%;
        margin: 20px 30px;
    }


    .form-background{
        display: none;
    } */

    /* .mobile{
        display: block;
        width: 50%;
        margin: auto;
        margin-top: 20px;
    } */
} 

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */
